@page
@model ToDoListHW.Pages.NewTaskModel
@{
}

<div class="mb-3">
	<h3>Новая задача</h3>
	<form method="post" action="~//Tasks">
		<div class="mb-3">
			<label for="Title">Введите название новой задачи:</label>
			<br/>
			<input required type="text" name="Title" class="w-50" />
		</div>
		<div class="mb-3">
			<label for="Description">Введите описание новой задачи:</label>
			<br />
			<textarea name="Description" rows="10" cols="75"></textarea>
		</div>
		<div class="mb-3">
			<input action="~/Tasks" type="submit" name="createTask" value="Создать"/>
		</div>
	</form>
</div>
